// src/app/feed/feed.component.scss
@import "../../assets/styles/_colors.scss"; // Asegúrate que esta ruta sea correcta y contenga tus variables SASS

.feed-container {
  // El max-width y el padding principal probablemente vienen del .feed-wrapper en layout.component.scss
  // Así que este contenedor puede ser más simple.
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; // Un poco más de espacio entre posts
}

.loading, .no-more-posts {
  text-align: center;
  padding: 2rem 1rem; // Más padding vertical
  font-size: 1rem;   // Tamaño de fuente ligeramente mayor
  color: $text-secondary; // Usar variable SASS
  font-style: italic;
  font-weight: 500;

  i.fa-spinner { // Si usas un icono para cargar
    margin-right: 8px;
    color: $accent-orange;
  }
}

.no-more-posts {
  color: $text-muted; // Un color más sutil para este mensaje
}
