
@import "../../assets/styles/_colors.scss";

.feed-container {


}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loading, .no-more-posts {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1rem;
  color: $text-secondary;
  font-style: italic;
  font-weight: 500;

  i.fa-spinner {
    margin-right: 8px;
    color: $accent-orange;
  }
}

.no-more-posts {
  color: $text-muted;
}
